/* animations */
@keyframes background_clr_chg{
  0%{color: rgb(55, 143, 221);}
  50%{color: powderblue;}
  100%{color: rgb(55, 143, 221);}
}
/* ----@#$@#$@#$--------------Login Pages------@#$@#$@#$-----------------------------------*/
/* -- login pages' body--*/
.generalLogin {
    /*background-image: url("./Assets/GeneralBackground.jpg");*/
    background-repeat: no-repeat;
    background-size: cover;
}
.InsTALogin{
    /*background-image: url("./Assets/InsTABackground.jpg");*/
    background-repeat: no-repeat;
    background-size: cover;
}

/* ---------TA/Instructor button----- */
.InsTAButton{
  /* size and position */
  position: fixed;
  height: 25vh;
  width: 25vw;
  left: 17vw;
  top: 37vh;
  border-radius: 15%;
  border-width: 1vh;
  /* color */
  background: rgba(226, 226, 20, .3);
  border-color: yellow;
  box-shadow: 0.5vh 0.5vw rgb(154,155,41);
  /* text style */
  font-size: 6vmin;
  overflow: hidden;
}
/* ---------- Student button----------*/
.studentButton{
  /* size */
  position: fixed;
  height: 25vh;
  width: 25vw;
  border-radius: 15%;
  border-width: 1vh;
  /* position */
  left: 55vw;
  top: 37vh;
  /* appearance */
  background: rgba(17, 115, 227, .3);
  border-color: blue;
  box-shadow: 0.5vh 0.5vw darkblue;
  /* text style */
  font-size: 6vmin;
  overflow: hidden;
}
/*--general login page topside content*/
.WebWorkTitle{
  /*position: fixed;*/
  /* size */
  /*width: 100vw;
  height: 25vh;*/
  /* position (always on top)*/
  top: 0;
  left: 0;
  /* style */
  /*background-color: rgb(55, 143, 221);*/
  /* font */
  font-size: 13vmin;
  overflow: hidden;
  font-weight: bold;
  text-align: center;
  text-shadow: 0.5vmin 0.5vmin 10px rgba(17, 115, 227,0.7);

  animation-name: background_clr_chg;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}

.loginFrame{
    position: fixed;
    /* size */
    width: 40vw;
    height: 40vh;
    /* position */
    top: 30vh;
    left: 30vw;
    /* style */
    /*border: 4px solid blue;*/
    border-radius: 5% 5% 5% 5%;
    box-shadow: 0px 0px 20px 2px darkblue;
    overflow: hidden;
}
.loginFrame_Header{
	position: relative;
	/* size */
    width: 100%;
    height: 20%;
    background: rgba(87,120,255,.5);
    font-size: 5vmin;
    overflow: hidden;
}
.loginFrame_Form{
	position: relative;
	/* size */
	width: 100%;
	height: 70%;
    background: rgba(59,182,255,.5);
    font-size: 3vmin;
    overflow: hidden;
}
.loginFrame_Footer{
	position: relative;
	width: 100%;
	height: 10%;
	background: rgba(17,162,215,.5);
    font-size: 1vmin;
    overflow: hidden;
}

input:focus {
    border: 3px solid #555;
}
input[type=text], input[type=password] {
    font-size: 3vmin;
    width: 100%;
    padding: 0.5vmin;
    margin: 0.5vmin 0;
    border: none;
    border-bottom: 0.2vmin solid blue;
}
/*global button*/
input[type=submit], input[type=button]{
	position: relative;
    background-color: #4484CE; /*MediumSeaGreen*/
    font-size: 3vmin;
    border: none;
    color: white;
    padding: 1vmin 3vmin;
    cursor: pointer;
    margin-left: 10px;
}



/*----!@#!@$$!@#$ --End of Login pages------ !@#@#%!@#%--------------------------------------------*/

body {
  background-color: #CAEBF2;
  margin: 0;
  font-family: "Arial", Helvetica, sans-serif;
}
 
.navbar {
	position: fixed;
	list-style-type: none;
    margin: 0px;
    padding: 0;
    width: 100%;
    top: 0;
    overflow: hidden;
    background-color: #333;
    box-shadow: 5px 5px 20px grey;
}


.student-info {
	height: 100px;
	width: 80%;
}

.ta-info {
	height: 100px;
	width: 80%;
}

.sidebar {
	position: fixed;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 15%;
    height: 100%;
    top: 50px;
    background-color: #f1f1f1;
    overflow: auto;
    box-shadow: 5px 5px 5px grey;
}

.button-side {
	text-align: center;
    color: #000;
    padding: 14px 16px;
    text-decoration: none;
    display: block;
}

.button-top {
	text-align: center;
    color: #A9A9A9;
    padding: 14px 16px;
    text-decoration: none;
    display: inline;
	float: left;
}

.button-side:hover {
    background-color: #555;
    color: white;
}

.button-top:hover {
    color: #FF3B3F;

}

.active {
    background-color: #4CAF50;
    color: white;
}

.container {
    padding-right:15px;
    padding-left:15px;
    padding-top:10px;
    margin-right:auto;
    margin-left:15%;
    margin-top:55px;
}

.container-text {
    padding:2rem 1rem;
    margin-bottom:2rem;
    background-color:#e9ecef;
    border-radius:.3rem;
    flex:0 0 66.666667%;
    max-width:66.666667%;
    position:relative;
<<<<<<< HEAD
<<<<<<< HEAD
    box-shadow: 5px 5px 5px grey;
}
=======
    box-shadow: 0px 0px 20px 5px grey;
}
>>>>>>> CC-welcomePage
=======
    box-shadow: 0px 0px 20px 5px grey;
}
>>>>>>> fa66db845a0e77017da3dc3af81a4568eaa7c13f
