/* animations */
@keyframes background_clr_chg{
  0% {background-image: url('top1.png');}
  25%{background-color: darkblue;}
  50%{background-color: powderblue;}
  75%{background-color: darkblue;}
  100%{background-color: blue;}
}

/* -----------------------------TA/Instructor division---------------------------- */
.InsTA{
  /* size and position */
  position: relative;
  width: 550px;
  height: 250px;
  left: 185px;
  top: 0px;

  /* appearance */
  border-radius: 90px;
  background: rgba(20, 56, 111, .5);
  border-color: red;
  box-shadow: 5px 5px powderblue;

  /* text style */
}

/* ---------------------------- Student division --------------------------------*/
.student{
  /* size and position */
  position: relative;
  width: 550px;
  height: 250px;
  left: 200px;
  top: 0px;
  
  /* appearance */
  border-radius: 90px;
  background: rgba(111, 56, 20, .5);
  border-color: blue;
  box-shadow: 5px 5px powderblue;
  
  /* text style */
  font-size: 15px;
}

.top{
  width: 100%;
  height: 350px;
  border-color: blue;
  background-image: url("top1.png");
  background-repeat: no-repeat;
  background-size: contain;

}
body {
    background-image: url("GeneralBackground.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}